<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
    <h1>About Page</h1>

    <h2>Goals</h2>
    <h3>Main Objectives:</h3>
    <ul>
      <li>ทำให้การจัดตารางการทำงานเป็นเรื่องง่าย สะดวกรวดเร็วและมีประสิทธิภาพ</li>
      <li>ลดงานและให้ความสะดวกแก่ผู้มีหน้าที่ผู้จัดการตารางงาน</li>
      <li>เพิ่มประสิทธิภาพในการจัดการเวลาทำงาน
        <ul>
          <li>พนักงานสามารถเลือกเวลาการทำงานที่ตนสะดวก</li>
        </ul>
      </li>
    </ul>

    <h3>Problems to Solve:</h3>
    <ul>
      <li>ปัญหาในการจัดตารางงานอย่างมีประสิทธิภาพและสร้างความสับสนในกระบวนการ</li>
      <li>การสื่อสารที่ไม่เป็นระบบระหว่างผู้จัดการและพนักงานเกี่ยวกับตารางงาน ทำให้ข้อมูลตกหล่น</li>
      <li>ข้อมูลเกี่ยวกับการทำงานและเวลาที่ใช้ไม่ได้ถูกบันทึกหรือสื่อสารอย่างถูกต้อง
        <ul>
          <li>การไม่สามารถหาพนักงานทดแทนในกรณีที่พนักงานไม่สามารถมาทำงานได้</li>
          <li>การจัดการบุคลากรในธุรกิจขนาดเล็กที่มีเจ้าของคนเดียวนั้นทำให้เจ้าของธุรกิจต้องรับหน้าที่ในคอยการจัดการตารางการทำงานของพนักงาน</li>
          <li>ร้านค้าธุรกิจหลายที่ขาดระบบจัดการบุคลากรที่ทันสมัย ทำให้การทำงานมีประสิทธิภาพไม่มากพอ</li>
        </ul>
      </li>
    </ul>

    <h3>Product Vision:</h3>
    <ul>
      <li>สร้างระบบจัดตารางการทำงานที่เป็นมาตรฐานสำหรับองค์กรในการจัดการเวลาและการทำงานของพนักงาน</li>
      <li>ให้ระบบที่สามารถปรับเปลี่ยนตามความต้องการขององค์กรและรองรับการเข้าถึงของผู้ใช้หลายประเภท</li>
      <li>ทำให้การจัดตารางงานเป็นเรื่องง่ายและเพิ่มความพอใจของพนักงานที่ทำงานในองค์กร</li>
    </ul>

    <h2>Team</h2>
    <p>6410615022&emsp;ชัญญานุช จำนงนิตย์</p>
    <p>6410615113&emsp;นางสาวพิชชากานต์ ลีพุด</p>
    <p>6410685017&emsp;นางสาวนลินพร พรหมเพ็ญ</p>
    <p>6410685215&emsp;นายพชรพล ทัพผักแว่น</p>
    <p>6510615138&emsp;คินทร รุ่งเรือง</p>

    <h2>Link</h2>
    <a href="https://github.com/CN331-bnnpp/bookga/tree/main">github</a><br />
    <a href="https://www.pivotaltracker.com/n/projects/2682188">pivotaltracker</a>
  </body>
</html>
