{% extends 'index.html' %}
{% load static %}
{% block content %}
<body style="overflow-y: scroll;">
  <header class="p-3 bg-dark text-white">
    <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-start justify-content-lg-between">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <i class="fa-solid fa-calendar-xmark" style="font-size: xx-large;"></i>
        <h2 class="m-0">BOOKGA</h2>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 text-light">Home</a></li>
        <li><a href="/account/about" class="nav-link px-2 text-white">About</a></li>
      </ul>

      <div class="text-end">
        <a href="/account/login"><button type="button" class="btn btn-outline-light me-2">Log in</button></a>
        <a href="/account/signup"><button type="button" class="btn btn-warning">Sign up</button></a>
      </div>
    </div>
    </div>
  </header>
    
    <div class="row p-5">
      <div class="col-sm-7">
      <div class="card h-100">
        <div class="card-header bg-warning">
          <h2>Goals</h2>
        </div>
        <div class="card-body bg-light">
          <h3>Main Objectives</h3>
          <ul>
            <li>ทำให้การจัดตารางการทำงานเป็นเรื่องง่าย สะดวกรวดเร็วและมีประสิทธิภาพ</li>
            <li>ลดงานและให้ความสะดวกแก่ผู้มีหน้าที่ผู้จัดการตารางงาน</li>
            <li>เพิ่มประสิทธิภาพในการจัดการเวลาทำงาน
              <ul>
                <li>พนักงานสามารถเลือกเวลาการทำงานที่ตนสะดวก</li>
              </ul>
            </li>
          </ul>
          <h3>Product Vision</h3>
          <ul>
            <li>สร้างระบบจัดตารางการทำงานที่เป็นมาตรฐานสำหรับองค์กรในการจัดการเวลาและการทำงานของพนักงาน</li>
            <li>ให้ระบบที่สามารถปรับเปลี่ยนตามความต้องการขององค์กรและรองรับการเข้าถึงของผู้ใช้หลายประเภท</li>
            <li>ทำให้การจัดตารางงานเป็นเรื่องง่ายและเพิ่มความพอใจของพนักงานที่ทำงานในองค์กร</li>
          </ul>
        </div>
      </div>
      </div>

      <div class="col-sm">
      <div class="card h-100">
        <div class="card-body bg-light">
          <h3>Problems to Solve</h3>
          <ul>
            <li>ปัญหาในการจัดตารางงานอย่างมีประสิทธิภาพและสร้างความสับสนในกระบวนการ</li>
            <li>การสื่อสารที่ไม่เป็นระบบระหว่างผู้จัดการและพนักงานเกี่ยวกับตารางงาน ทำให้ข้อมูลตกหล่น</li>
            <li>ข้อมูลเกี่ยวกับการทำงานและเวลาที่ใช้ไม่ได้ถูกบันทึกหรือสื่อสารอย่างถูกต้อง
              <ul>
                <li>การไม่สามารถหาพนักงานทดแทนในกรณีที่พนักงานไม่สามารถมาทำงานได้</li>
                <li>การจัดการบุคลากรในธุรกิจขนาดเล็กที่มีเจ้าของคนเดียวนั้นทำให้เจ้าของธุรกิจต้องรับหน้าที่ในคอยการจัดการตารางการทำงานของพนักงาน</li>
                <li>ร้านค้าธุรกิจหลายที่ขาดระบบจัดการบุคลากรที่ทันสมัย ทำให้การทำงานมีประสิทธิภาพไม่มากพอ</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      </div>
    </div>

    <div class="row px-5">
      <div class="col-sm-7">
      <div class="card h-100">
        <div class="card-header bg-warning">
          <h2>Team</h2>
        </div>
        <div class="card-body bg-light">
          <p style="font-family: 'Sarabun', sans-serif;">
            6410615022&emsp;ชัญญานุช จำนงนิตย์</br>
            6410615113&emsp;พิชชากานต์ ลีพุด  </br>
            6410685017&emsp;นลินพร พรหมเพ็ญ </br>
            6410685215&emsp;พชรพล ทัพผักแว่น </br>
            6510615138&emsp;นคินทร รุ่งเรือง
          </p>
        </div>
      </div>
      </div>

      <div class="col-sm">
      <div class="card h-100">
        <div class="card-header text-white bg-dark">
          <h2>Link</h2>
        </div>
        <div class="card-body bg-light">
          <a href="https://github.com/CN331-bnnpp/bookga/tree/main">github</a><br />
          <a href="https://www.pivotaltracker.com/n/projects/2682188">pivotaltracker</a>
        </div>
      </div>
    </div>
    <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="text-muted">
          ©2023 Bookga All rights reserved. <br/>
          99 Thanon Phahonyothin, Khlong Luang, Pathum Thani 12120
        </p>
      </footer>
    </div>    
<!--     <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted">
          ©2023 Bookga All rights reserved. <br />
          123 Gourmet Lane, Bakersville, CA 98765
        </p>
    
        <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        </a>
    
        <ul class="nav col-md-4 justify-content-end">
          <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
          <li class="nav-item"><a href="about" class="nav-link px-2 text-muted">About</a></li>
        </ul>
      </footer>
    </div> -->
  </body>
  {% endblock %}
