{% extends 'index.html' %}
{% load static %}
{% block content %}
  <h2>Sign up Form</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br />
        {{ field }}
        {% comment %}---------------help_text for create password---------------{% endcomment %}
        {% comment %}! can be Edited{% endcomment %}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% comment %}---------------help_text for create password---------------{% endcomment %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <p>
      Group Name: <br />
      <input type="text" name="group_name" />
    </p>
    <button type="submit">Sign up</button>
  </form>
{% endblock %}