#home {
}

.purple-box {
  background-color: var(--color-1);
  min-width: 10px;
  min-height: 10px;
}

#home {
  display: flex;
  flex-direction: column;
  min-height: 800px;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.box-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.box-1 div {
  margin-left: 100px;
  justify-content: center;
  align-content: center;
  height: 100%;
}
.box-1 .content-image {
  border-radius: 10px;
  width: 40%;
}