#contact {
    padding: 5%;
  }
  .contact {
    padding: 5%;
    border: 1px black solid;
    border-radius: 30px;
    display: grid;
    display: contents;
  }
  
  .contact .info {
    width: fit-content;
  }
  
  
  .icon{
    width: 30px;
    box-sizing: border-box;
    object-fit: contain;
    cursor: pointer;
    margin: 0% 2%;
  }
  .icon:hover{
    transition: 200ms;
    scale: 1.5;
  }