<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <title>Bookga</title>

    <link rel="stylesheet" href="{% static 'home/home.css' %}" />
    <link rel="stylesheet" href="{% static 'home/nav.css' %}" />
    <link rel="stylesheet" href="{% static 'home/box-1.css' %}" />
    <link rel="stylesheet" href="{% static 'home/contact.css' %}" />
    <link rel="stylesheet" href="{% static 'home/responsive.css' %}" />
  </head>

<body>
    <nav class="nav">
      <div class="logo flex-center">
        <a href="#home"><h2>Bookga</h2></a>
      </div>
      <ul class="">
        <li ><a class="button" href="#about">About</a></li>
        <li ><a class="button" href="#contact">Contact</a></li>
        <li class="login-signup">
          <a class="signup" href="/login">Signup</a>
        </li>
      </ul>
    </nav>
    <section id="main">
      <section id="home">
        <div class="box-1 large-gap">
          <div>
            <h2>Welcome to Bookga</h2>
            <p class="paragraph">
              Bookga is an innovative work-shift scheduling application that
              allows users to book their workshifts according to their
              preferences. Our platform provides a convenient way for businesses
              and employees to manage work schedules effortlessly.
            </p>
          </div>
          <img src={% static 'freepik_02.avif' %} class="content-image"
          alt="freepik_02" />
        </div>

        <div class="box-1">
          <img src={% static 'freepik_03.jpg' %} class="content-image"
          alt="freepik_03 ">
          <div>
            <h2>Welcome to Bookga</h2>
            <p class="paragraph">
              At Bookga, we believe that the finest ingredients and time-honored
              traditions make all the difference in creating exceptional baked
              goods. Our expert bakers use only the highest quality, locally
              sourced ingredients to craft our delightful assortment of bread,
              pastries, and cakes. You can taste the love and dedication in
              every bite.
            </p>
          </div>
        </div>
        <div class="large-gap"></div>
      </section>

      <section id="contact">
        <div class="">
          <div class="contact">
            <div class="info">
              <div class="head"><h2>Bookga</h2></div>
              <p><strong>Contact Information</strong></p>
              <p><strong>Name:</strong> Bookga</p>
              <p>
                <strong>Address:</strong> 123 Gourmet Lane, Bakersville, CA
                98765
              </p>
              <p><strong>Phone:</strong> (555) 123-4567</p>
              <p>
                <strong>Email:</strong>
                <a href="mailto:support@bookga.com">support@bookga.com</a>
              </p>
              <p><strong>Social Media:</strong></p>
              <ul>
                <div>
                  <img src={% static 'icon/github-grey.png' %} alt="My Github
                  profile" class="icon"
                  onclick="location.href='tps://github.com/CN331-bnnpp/bookga'"
                  /> <img src={% static 'icon/instragram.png' %} alt="My
                  LinkedIn profile" class="icon"
                  onclick="location.href='https://www.instagram.com/_nakin2003/'"
                  />
                </div>
                <li>
                  Facebook:
                  <a href="https://www.facebook.com/bookga" target="_blank"
                    >@bookga</a
                  >
                </li>
                <li>
                  Instagram:
                  <a href="https://www.instagram.com/bookga" target="_blank"
                    >@bookga</a
                  >
                </li>
                <li>
                  Twitter:
                  <a href="https://twitter.com/bookga" target="_blank"
                    >@bookga</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </section>
    <footer class="box-shadow-light flex-center flex-col">
      ©2023 Bookga All rights reserved. <br />
      123 Gourmet Lane, Bakersville, CA 98765
    </footer>
  </body>
</html>
