{% extends 'index.html' %}
{% load static %}
{% block content %}
<body style="overflow-y: scroll;">
  <header class="p-3 bg-dark text-white">
    <div class="vw-100 mx-0">
    <div class="d-flex flex-wrap align-items-center justify-content-start justify-content-lg-between">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <i class="fa-solid fa-calendar-xmark" style="font-size: xx-large;"></i>
        <h2 class="m-0">BOOKGA</h2>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 text-light">Home</a></li>
        <li><a href="/about" class="nav-link px-2 text-white">About</a></li>
      </ul>

      <div class="text-end">
        <a href="/account/login"><button type="button" class="btn btn-outline-light me-2">Log in</button></a>
        <a href="/account/signup"><button type="button" class="btn btn-warning">Sign up</button></a>
      </div>
    </div>
    </div>
  </header>

  <div class="p-5" >
  <div class="row row-cols-1 row-cols-md-3 g-4">

  <div class="col-sm">
  <div class="card h-100">
    <div class="card-body">
      <h5 class="card-title">Welcome to Bookga</h5>
      <p class="card-text">Bookga is an innovative work-shift scheduling application that allows users to book their workshifts according to their preferences. Our platform provides a convenient way for businesses and employees to manage work schedules effortlessly.</p>
      <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col-sm">
        <div class="card">
        <img src={% static 'images/freepik_01.jpg' %} class="card-img-top" alt="...">
        </div>
      </div>
      <div class="col-sm">
        <div class="card">
        <img src={% static 'images/freepik_03.jpg' %} class="card-img-top" alt="...">
        </div>
      </div>
      </div>
    </div>

  </div>
  </div>

  <!-- <div class="col-sm">
  <div class="card h-100">
    <img src={% static 'images/freepik_03.jpg' %} class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Our Philosophy</h5>
      <p class="card-text">At Bookga, we believe that the finest ingredients and time-honored traditions make all the difference in creating exceptional baked goods. Our expert bakers use only the highest quality, locally sourced ingredients to craft our delightful assortment of bread, pastries, and cakes. You can taste the love and dedication in every bite.</p>
    </div>
  </div>
  </div> -->
  
  </div>
  </div>

<!--   <div class="card border-light mb-3" style="max-width: 100%;">
    <div class="card-header">
      <h3>Contact</h3>
    </div>
    <div class="card-body">
      <p class="card-text">
        <strong>Contact Information</strong>                               </br>
        <strong>Name:</strong> Bookga                                      </br>
        <strong>Address:</strong> 123 Gourmet Lane, Bakersville, CA 98765  </br>
        <strong>Phone:</strong> (555) 123-4567                             </br>
        <strong>Email:</strong>
        <a href="mailto:support@bookga.com">support@bookga.com</a>
        <ul>
          <li>Facebook:<a href="https://www.facebook.com/bookga" target="_blank">@bookga</a></li>
          <li>Instagram:<a href="https://www.instagram.com/bookga" target="_blank">@bookga</a></li>
          <li>Twitter:<a href="https://twitter.com/bookga" target="_blank">@bookga</a></li>
        </ul>
      </p>
    </div>
  </div> -->

  <div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">
      ©2023 Bookga All rights reserved. <br/>
      123 Gourmet Lane, Bakersville, CA 98765
    </p>
  
    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    </a>
  
<!--
    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="/account/about" class="nav-link px-2 text-muted">About</a></li>
    </ul>
-->
  </footer>
  </div> 
</body>
{% endblock %}
