:root{
  --breakpoint-tablet: 600px;
  --breakpoint-laptop: 1024px;
  --breakpoint-desktop: 1440px;
}

@media screen and (max-width: 1024px) {
    body {
      width: 100vw;
    }
    .full-banner-img {
      height: 680px;
      background-image: url("public/br1.avif");
      background-size: cover;
      background-position: 0px 0px;
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: start;
      font-size: 86px;
    }
  }