{% extends "index.html" %}

{%block title%}
Sign in to Bookga
{%endblock%}

{% block body %}
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        <div class="fieldWrapper">
            {{ form.username.label_tag }}<br>
            {{ form.username }}
            
        </div>
        <div class="fieldWrapper">
            {{ form.password.label_tag }}<br>
            {{ form.password }}
            
        </div>

        <input type="submit" value="Login">
        <div>
            {{ form.non_field_errors }}
            {{ form.username.errors }}
            {{ form.password.errors }}
        </div>
        
    </form>
    <br>
    <label>No account? Sign up <>Here.</a></label>
{%endblock%}
