

{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href={% static 'gate/gate.css' %}>
    <title>Bookga</title>
  </head>
  <body>
    <div class="content">
    <section id="container">
      <div id="select-role">
        <h1> Choose your role <h1>
        <div class="container-b">
            <div class="employer" id='employer'>
              <img src={% static 'mamewmy-buisinessman.jpg' %} class="content-image">
              <h2>Employer</h2>
            </div>
           <div class="seperator-v"></div>
            <div class="worker" id='worker'>
                <img alt="worker-pic" src={% static 'mamewmy-worker.jpg' %}>
                <h2>Worker</h2>
            </div>
        </div>
      </div>
      <div id="login">
        <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        <div class="fieldWrapper">
            {{ LoginForm.username.label_tag }}<br>
            {{ LoginForm.username }}
            
        </div>
        <div class="fieldWrapper">
            {{ LoginForm.password.label_tag }}<br>
            {{ LoginForm.password }}
            
        </div>
        <div>
            {{ LoginForm.non_field_errors }}
        </div>
        <input type="submit" value="login" name='login'>
    </form>
      </div>
      <div id="signup">
        <h2>Sign up</h2>
            <form method="post">
                {% csrf_token %}
                
                <div class="field">
                    {{ SignupForm.username.label_tag }}
                    {{ SignupForm.username }}
                    
                </div>
                <div class="field">
                    {{ SignupForm.email.label_tag }}
                    {{ SignupForm.email }}
                    
                </div>
                <div class="field">
                    {{ SignupForm.first_name.label_tag }}
                    {{ SignupForm.first_name }}
                   
                </div>
                <div class="field">
                    {{ SignupForm.last_name.label_tag }}
                    {{ SignupForm.last_name }}
                    
                </div>
                <div class="field">
                    {{ SignupForm.password1.label_tag }}
                    {{ SignupForm.password1 }}
                    
                </div>
                <div class="field">
                    {{ SignupForm.password2.label_tag }}
                    {{ SignupForm.password2 }}
                    
                </div>
                {{ SignupForm.non_field_errors }}
                {{ SignupForm.username.errors }}
                {{ SignupForm.email.errors }}
                {{ SignupForm.first_name.errors }}
                {{ SignupForm.last_name.errors }}
                {{ SignupForm.password1.errors }}
                {{ SignupForm.password2.errors }}
                <input type="submit" value="signup" name='signup'>
            </form>
                <label>already have account?<a href='#'id='warp-login'>Log in.</a></label>
      </div>
  
    </section>
  </div>
    <footer>

      <a href="https://www.freepik.com/free-vector/professional-worker-safety-machine-engineer-character-cartoon-hand-drawn-cartoon-art-illustration_21058101.htm#query=worker&position=0&from_view=search&track=sph">Image by mamewmy</a> on Freepik
    </footer>
  </body>
  <script>
    let currentView = '{{ current_view }}';
    document.getElementById('warp-login').addEventListener('click', function () {
      currentView = 'login';
      document.getElementById('signup').style.display = 'none';
      document.getElementById('select-role').style.display = 'none';
      document.getElementById('login').style.display = 'flex';
    });
  if (currentView === 'login') {
    document.getElementById('signup').style.display = 'none';
    document.getElementById('select-role').style.display = 'none';
    document.getElementById('login').style.display = 'flex';
  } else if (currentView === 'signup') {
    document.getElementById('signup').style.display = 'flex';
    document.getElementById('select-role').style.display = 'none';
    document.getElementById('login').style.display = 'none';
  }
    document.getElementById('worker').addEventListener('click', function () {
      document.getElementById('login').style.display = 'flex';
      document.getElementById('select-role').style.display = 'none';
    });
    
    document.getElementById('employer').addEventListener('click', function () {
      document.getElementById('signup').style.display = 'flex';
      document.getElementById('select-role').style.display = 'none';
    });
  </script> 
</html>