<!-- {% load static %}-->
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'gate/gate.css' %}">
    <link rel="stylesheet" type="text/css" href="gate.css">
    <title>Bookga</title>
  </head>
  <body>
    <div class="content">
    <section id="container">
      <div id="select-role">
        <h1> Choose your role <h1>
        <div class="container-b">
            <div class="employer" id='employer'>
              <img src={% static 'mamewmy-buisinessman.jpg' %} class="content-image">
              <h2>Employer</h2>
            </div>
           <div class="seperator-v"></div>
            <div class="worker" id='worker'>
                <img alt="worker-pic" src={% static 'mamewmy-worker.jpg' %}>
                <h2>Worker</h2>
            </div>
        </div>
      </div>
      <div id="login">
        <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ LoginForm.non_field_errors }}
        <div class="fieldWrapper">
            {{ LoginForm.username.label_tag }}<br>
            {{ LoginForm.username }}
            
        </div>
        <div class="fieldWrapper">
            {{ LoginForm.password.label_tag }}<br>
            {{ LoginForm.password }}
            
        </div>

        
        <div>
            {{ LoginForm.username.errors }}
            {{ LoginForm.password.errors }}
        </div>
        <input type="submit" value="Login">
    </form>
      </div>
      <div id="signup">
        <h2>Sign up</h2>
            <form method="post">
                {% csrf_token %}
                {{ SignupForm.non_field_errors }}
                <div class="field">
                    {{ SignupForm.username.label_tag }}
                    {{ SignupForm.username }}
                    {{ SignupForm.username.errors }}
                </div>
                <div class="field">
                    {{ SignupForm.email.label_tag }}
                    {{ SignupForm.email }}
                    {{ SignupForm.email.errors }}
                </div>
                <div class="field">
                    {{ SignupForm.first_name.label_tag }}
                    {{ SignupForm.first_name }}
                    {{ SignupForm.first_name.errors }}
                </div>
                <div class="field">
                    {{ SignupForm.last_name.label_tag }}
                    {{ SignupForm.last_name }}
                    {{ SignupForm.last_name.errors }}
                </div>
                <div class="field">
                    {{ SignupForm.password1.label_tag }}
                    {{ SignupForm.password1 }}
                    {{ SignupForm.password1.errors }}
                </div>
                <div class="field">
                    {{ SignupForm.password2.label_tag }}
                    {{ SignupForm.password2 }}
                    {{ SignupForm.password2.errors }}
                </div>
                <input type="submit" value="Register">
            </form>
            
      </div>
      <label>already have account?<a href='/'>Log in.</a></label>
    </section>
  </div>
    <footer>

      <a href="https://www.freepik.com/free-vector/professional-worker-safety-machine-engineer-character-cartoon-hand-drawn-cartoon-art-illustration_21058101.htm#query=worker&position=0&from_view=search&track=sph">Image by mamewmy</a> on Freepik
    </footer>






     

  </body>
  <script>
    document.getElementById('worker').addEventListener('click', function () {
      document.getElementById('login').style.display = 'flex';
      document.getElementById('select-role').style.display = 'none';
    });
    
    document.getElementById('employer').addEventListener('click', function () {
      document.getElementById('signup').style.display = 'flex';
      document.getElementById('select-role').style.display = 'none';
    });
  </script> 
</html>