{% extends 'index.html' %}
{% load static %}
{% block content %}
<body style="overflow-y: scroll;">
  <header class="p-3 bg-dark text-white">
    <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-start justify-content-lg-between">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <i class="fa-solid fa-calendar-xmark" style="font-size: xx-large;"></i>
        <h2 class="m-0">BOOKGA</h2>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 text-light">Home</a></li>
        <li><a href="/about" class="nav-link px-2 text-white">About</a></li>
      </ul>

      <div class="text-end">
        <a href="/account/logout"><button type="button" class="btn btn-warning">Log out</button></a>
      </div>
    </div>
    </div>
  </header>

  <div class="card my-5 ml-5 align-items-center justify-content-md-start position-absolute" style="width: 65%; ">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        {% for field in fields %}
        <th scope="col">{{field}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in table %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ row.start_time }}</td>
        <td id="{{ forloop.counter }}"></td>
        <td>&emsp;{{ row.num_people }}</td>
      </tr>
      {% endfor %}
      <script>
      {% for row in table %}
        var end = "{{ row.start_time.year }}-{{ row.start_time.month }}-{{ row.start_time.day }} {{ row.start_time.hour }}:{{ row.start_time.minute }}:00 {{ row.start_time.tzinfo }}";
        var date = new Date(end);
        date.setHours(date.getHours() + parseInt("{{ row.num_hours }}"));
        // text format Nov. 22, 2023, 9 a.m.
        var text = date.toLocaleString('en-US', { month: 'short', day: 'numeric', year: 'numeric', hour: 'numeric', hour12: true })
        text = text.replace("AM", "a.m.").replace("PM", "p.m.");
        document.getElementById("{{ forloop.counter }}").innerHTML = text;
      {% endfor %}
      </script>
    </tbody>
  </table>
  </div>


  <div class="card my-5 ml-auto mr-5 align-items-center justify-content-md-end" style="width: 25%;">
  <div class="card-body">
    <form action="{% url 'add' %}" method="post">
      {% csrf_token %}
      <div class="form-outline mb-4">
        <h2 class="text-center">ADD SHIFT</h2>
      </div>
      {% for message in messages %}
        <div class="my-1 py-1 alert alert-success" role="alert">
            <small>{{ message }}</small>
        </div>
      {% endfor %}
    <!-- Date time input -->
      {% for field in form %}
      <div class="form-outline mb-2">
        <label class="form-label mb-0 mt-4" for="form2Example1">{{ field.label_tag }}</label>
        {{ field }}
      </div>
      {% if field.errors %}
        <div class="my-1 py-1 alert alert-danger" role="alert">
        {% for error in field.errors %}
            <small>{{ error }}</small>
        {% endfor %}
        </div>
      {% endif %}
      {% endfor %}
        
    <!-- Submit button -->
      <button type="submit" class="btn btn-warning btn-block mb-4">Add</button>
    </form>
  </div>
  </div>

  <div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">
      ©2023 Bookga All rights reserved. <br/>
      123 Gourmet Lane, Bakersville, CA 98765
    </p>
  
    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    </a>
  
<!--
    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="/account/about" class="nav-link px-2 text-muted">About</a></li>
    </ul>
-->
  </footer>
  </div>
</body>
{% endblock %}