{% extends 'index.html' %}
{% load static %}
{% block content %}
<body style="overflow-y: scroll;">
  <header class="p-3 bg-dark text-white">
    <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-start justify-content-lg-between">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <i class="fa-solid fa-calendar-xmark" style="font-size: xx-large;"></i>
        <h2 class="m-0">BOOKGA</h2>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 text-light">Home</a></li>
        <li><a href="/about" class="nav-link px-2 text-white">About</a></li>
      </ul>

      <div class="text-end">
        <a href="/account/logout"><button type="button" class="btn btn-warning">Log out</button></a>
      </div>
    </div>
    </div>
  </header>

  <div class="card-header mx-5 mt-5 text-center text-white rounded-top bg-dark bg-gradient">
    <h2>Shift schedule</h2>
  </div>
  <div class="card mx-5 text-center" style="overflow-x: scroll;">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        {% for field in times %}
        <th scope="col">{{field}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Mon</th>
        {% for time in table.Mon %}
        {% if time %}
        <td class="bg-warning">
        {% else %}
        <td>
        {% endif %}
        {{ time }}</td>
        {% endfor %}
      </tr>
      <tr>
        <th scope="row">Tue</th>
        {% for time in table.Tue %}
        {% if time %}
        <td class="bg-warning">
        {% else %}
        <td>
        {% endif %}
        {{ time }}</td>
        {% endfor %}
      </tr>
      <tr>
        <th scope="row">Wed</th>
        {% for time in table.Wed %}
        {% if time %}
        <td class="bg-warning">
        {% else %}
        <td>
        {% endif %}
        {{ time }}</td>
        {% endfor %}
      </tr>
      <tr>
        <th scope="row">Thu</th>
        {% for time in table.Thu %}
        {% if time %}
        <td class="bg-warning">
        {% else %}
        <td>
        {% endif %}
        {{ time }}</td>
        {% endfor %}
      </tr>
      <tr>
        <th scope="row">Fri</th>
        {% for time in table.Fri %}
        {% if time %}
        <td class="bg-warning">
        {% else %}
        <td>
        {% endif %}
        {{ time }}</td>
        {% endfor %}
      </tr>
      <tr>
        <th scope="row">Sat</th>
        {% for time in table.Sat %}
        {% if time %}
        <td class="bg-warning">
        {% else %}
        <td>
        {% endif %}
        {{ time }}</td>
        {% endfor %}
      </tr>
      <tr>
        <th scope="row">Sun</th>
        {% for time in table.Sun %}
        {% if time %}
        <td class="bg-warning">
        {% else %}
        <td>
        {% endif %}
        {{ time }}</td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
  </div>
  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="text-muted">
        ©2023 Bookga All rights reserved. <br/>
        99 Thanon Phahonyothin, Khlong Luang, Pathum Thani 12120
      </p>
    </footer>
  </div>    
<!--   <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="col-md-4 mb-0 text-muted">
        ©2023 Bookga All rights reserved. <br />
        123 Gourmet Lane, Bakersville, CA 98765
      </p>
  
      <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      </a>
  
      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="about" class="nav-link px-2 text-muted">About</a></li>
      </ul>
    </footer>
  </div> -->
</body>
{% endblock %}